<h1>The Cock and Tail</h1>
<h4>Choose from one of our award-winning drinks:</h4>
<div class="cocktail-container">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
    <%= cocktail.name %></div>
    <% end %>
<% end %>
</div>

<%= link_to "Add a new cocktail", new_cocktail_path, class:"btn btn-success", id:"new-drink-button"%>


